* {
  box-sizing: border-box;
}

body {
  margin: 0;
}



/* #region Remove button Styling */
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
/* #endregion */

button {
  background-color: #ffffff00;
}

header {
  position: sticky;
  width: 100vw;
  padding: 0;
  height: fit-content;
  background-color: #5544b8;
  color: white;
  top: 0;
  z-index: 2;
  display: grid;
  grid-template-areas: "left center right";
}

header h1 {
  margin: 1%;
}

header .logo {
  float: none;
  display: block;
  justify-self: center;
  margin: 0px;
  width: fit-content;
  grid-area: center;
}

header .bars {
  grid-area: left;
  text-align: left;
}

header .add {
  display: none;
}

.menu {
  /* display: none; */
  flex-direction: column;
  align-items: stretch;
  height: fit-content;
  width: 100%;
  padding-inline-start: 0;
}

.menu-item {
  display: block;
  margin: 0;
}

/* .menu-item h3 {
  margin: 0;
  border-bottom: 1px solid lightgrey;
  padding: 2%;
} */

/* .menu-item h4 {
  margin: 0;
  padding: 2% 2% 2% 10%;
  border-bottom: 1px solid lightgrey
} */



.done {
  text-decoration: line-through;
}

.menu-shaded {
  background-color: rgb(241, 235, 235);
  display: flex;
  justify-content: space-between;
}

.menu-icon-right {
  margin-right: 4vw;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(230, 230, 230);
  text-align: center;
}

.hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  transition: 0.3s;
}

.clickable:hover {
  transform: translate(0, -2px);
  color: rgb(20, 44, 114);
}

.grow { transition: all .1s ease-in-out; }
.grow:hover { transform: scale(1.5); }

.blurred {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

/* #region Project View */
.page-title {
  margin: 3% 2% 3% 2%;
}

.item-box {
  margin: -1px 0 0 0;
  padding: 2% 2% 1% 2%;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.indented {
  padding-left: 10%;
}

.task-item {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 10fr 4fr;
  grid-template-areas: 
    "gridCircle gridTitle gridDate"
    ".......... gridIcons ........";
}

.task-item p {
  margin: 0;
}

.task-item .task-name {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  grid-area: gridTitle;
}

.task-checkcircle-icon {
  grid-area: gridCircle;
}

.task-title {
  padding-left: 5%;
}

.task-date {
  color: rgb(90, 90, 90);
  font-size: smaller;
  justify-self: flex-end;
  text-align: right;
  width: 100%;
  grid-area: gridDate;
}

.task-icon-area {
  grid-area: gridIcons;
  display: flex;
  align-items: center;
  margin: 0;
}

.task-icon-area * {
  padding-left: 2%;
}

.task-checkbox-icon {
  color: gray;
  font-size: 4px;
}

.task-add-btn {
  position: fixed;
  bottom: 4%;
  right: 4%;
  color: rgb(151, 18, 18);
}

/* #endregion */

/* #region Edit Task View */
  .edit-task-view {
    display: grid;
    grid-template-areas: 
      "taskname    taskname"
      "project     ........"
      "description description"
      "date        priority"
      "notes       notes"
      "notes       notes"
      "checklist   checklist";
    margin: 5%;
  }

  .edit-task-view > * {
    margin: 3% 0 3% 0;
  }

  .edit-task-project {
    grid-area: project;
    background: none;
  }

  .edit-task-name {
    grid-area: taskname;
    display: flex;
    align-items: center;
  }

  .edit-task-name input {
    font-size: large;
    margin-left: 3%;
  }

  .edit-task-description {
    grid-area: description;
  }

  .edit-task-date {
    grid-area: date;
    width: fit-content;
    height: fit-content;
  }

  .edit-task-priority {
    grid-area: priority;
    justify-self: end;
  }

  .edit-task-notes {
    grid-area: notes;
  }

  .edit-task-checklist {
    grid-area: checklist;
    display: grid;
    grid-template-columns: 1fr 15fr;
  }

  .subtask-title {
    grid-column: 1 / 3;
    margin: 0;
  }

  .edit-task-view p {
    margin: 0;
  }

  .destyled-input {
    border: none;
    -webkit-appearance:     none;
    -moz-appearance:        none;
    -ms-appearance:         none;
    -o-appearance:          none;
    appearance:             none;
  }

  .destyled-input::placeholder {
    color: black;
    opacity: 1;
  }

  .priority-high {
    background: red;
    color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    padding: 5%;
    font-weight: bold;
  }

  .priority-medium {
    background: rgb(255, 166, 0);
    color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    padding: 5%;
    font-weight: bold;
  }
 
  .priority-low {
    background: yellowgreen;
    color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    padding: 5%;
    font-weight: bold;
  }

/* #endregion */


/* #region Edit Project View */
.edit-project-view{
  padding: 5% 3% 5% 3%;
  display: grid;
  grid: "name  name   color"
        "desc  desc   ....."
        "save  cancel ...."
        / 1fr 1fr 1fr;
  justify-content: left;
  align-items: center;
}

.edit-project-view label {
  display: none;
}

.edit-project-name {
  font-size: x-large;
  border: 1px solid rgba(255, 255, 255, 0);
  grid-area: name;
  margin-right: 3%;
}

.edit-project-name:hover {
  border: 1px solid rgb(209, 170, 170);
}

.edit-project-color {
  grid-area: color;
}

#edit-project-save-btn {
  grid-area: save;
}

#edit-project-cancel-btn {
  grid-area: cancel;
}

.edit-project-view button {
  background-color: #5544b8;
  border: none;
  color: white;
  padding: 2% 4%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 5em;
  height: 2em;
}

.edit-project-description {
  border: 1px solid rgba(255, 255, 255, 0);
  grid-area: desc;
  margin: 10% 0 10% 0;
}

.edit-project-description:hover {
  border: 1px solid rgb(209, 170, 170);
}

/* #endregion */

@media only screen and (min-width: 800px) {
  body {
    display: grid;
    grid-template-areas:
      "header header header"
      "menu content content"
      "menu content content"
      "menu content content"
      "menu content content"
      "footer footer footer";
    grid-template-rows: auto 1fr 1fr 1fr 1fr auto;

    margin: 0;
    min-height: 100vh;
    /* overflow: scroll; */
  }
  
  header {
    overflow: hidden;
    background-color: #5544b8;
    width: 100vw;
    padding-right: 1%;
    top: 0;
    position: sticky;
    z-index: 2;
    display: flex;
    justify-content: center;
    grid-area: header;
    color: white;
    align-items: center;
  }

  header > .bars {
    display: none;
  }
  
  footer {
    grid-area: footer;
  }
  
  .menu {
    grid-area: menu;
    background-color:rgba(168, 168, 168, 0.185);
    height: 100%;
  }


  
  .content {
    grid-area: content;
  }

  .new-task {
    display: grid;
    border: none;
  }

  .new-task i {
    visibility: hidden;
  }

  .new-task input::placeholder {
    font-style: italic;
    color: rgb(87, 87, 87);
  }

  .new-task:hover {
    display: grid;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }
}

.hidden {
  display: none;
}


