body {
  margin: 0;
}

.page-title {
  margin: 2% 0% 2% 1%;
}

/* #region Remove button Styling */
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
/*#endregion*/

button {
  background-color: #ffffff00;
}

header {
  position: sticky;
  width: 100vw;
  padding: 0;
  height: fit-content;
  background-color: #57be3e;
  top: 0;
  z-index: 2;
  display: grid;
  grid-template-areas: "left center right";
}

header h1 {
  margin: 1%;
}

header .logo {
  float: none;
  display: block;
  justify-self: center;
  margin: 0px;
  width: fit-content;
  grid-area: center;
}

header .bars {
  grid-area: left;
  text-align: left;
}

header .add {
  display: none;
}

.menu {
  /* display: none; */
  flex-direction: column;
  align-items: stretch;
  height: fit-content;
  width: 100%;
  padding-inline-start: 0;
}

.menu-item {
  display: block;
  margin: 0;
}

/* .menu-item h3 {
  margin: 0;
  border-bottom: 1px solid lightgrey;
  padding: 2%;
} */

/* .menu-item h4 {
  margin: 0;
  padding: 2% 2% 2% 10%;
  border-bottom: 1px solid lightgrey
} */

.item-box {
  margin: -1px 0 0 0;
  padding: 2%;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.indented {
  padding-left: 10%;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.task-item p {
  margin: 0 0 0 2%;
}

.task-item .task-name {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.task-title {
  padding-left: 5%;
}

.task-date {
  color: lightgrey;
  font-size: smaller;
  justify-self: flex-end;
  text-align: right;
  width: 100%;
}

.task-add-btn {
  position: fixed;
  bottom: 4%;
  right: 4%;
  color: rgb(151, 18, 18);
}

.done {
  text-decoration: line-through;
}

.menu-shaded {
  background-color: rgb(241, 235, 235);
  display: flex;
  justify-content: space-between;
}

.menu-icon-right {
  margin-right: 4vw;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(230, 230, 230);
  text-align: center;
}

.hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  transition: 0.3s;
}

.clickable:hover {
  transform: translate(0, -2px);
  color: rgb(20, 44, 114);
}

.grow { transition: all .1s ease-in-out; }
.grow:hover { transform: scale(1.5); }

.blurred {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

/* #region Taskview */
  .taskview {
    display: grid;
    grid-template-areas: 
      "project project"
      "taskname taskname"
      "description description"
      "date priority"
      "notes notes"
      "notes notes"
      "checklist checklist";
  }
  .task-project {
    grid-area: project;
  }

  .task-name {
    grid-area: taskname;
  }

  .task-description {
    grid-area: description;
  }

  .task-date {
    grid-area: date
  }

  .task-priority {
    grid-area: priority;
  }

  .task-notes {
    grid-area: notes;
  }

  .task-checklist {
    grid-area: checklist;
  }

  .taskview p {
    margin: 0;
  }

  .styled-input {
    border: none;
    color: black;
  }

  .styled-input::placeholder {
    color: black;
    opacity: 1;
  }

/* #endregion */


@media only screen and (min-width: 800px) {
  body {
    display: grid;
    grid-template-areas:
      "header header header"
      "menu content content"
      "menu content content"
      "menu content content"
      "menu content content"
      "footer footer footer";
    margin: 0;
    min-height: 100vh;
    /* overflow: scroll; */
  }
  
  header {
    overflow: hidden;
    background-color: #57be3e;
    width: 100vw;
    padding-right: 1%;
    top: 0;
    position: sticky;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    grid-area: header;
  }
  
  footer {
    grid-area: footer;
  }
  
  .menu {
    grid-area: menu;
  }
  
  .content {
    grid-area: content;
  }
}



